.my-card {
    border-radius: 30px !important;
    background-color: #fff !important;
}

.my-contend {
    cursor: pointer;
    border-radius: 80px !important;
    background-color: #EEEEEE  !important;
}

.title-lesson {
    font-family: 'Rubik', sans-serif;
}
