@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
  --primary      : #00ADB5;
  --primary-hover: #20b7c2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-primary {
  color: var(--primary) !important;
}

.navbar .btn {
  padding: .625rem 1.25rem !important;
}

.btn {
  padding: 1rem;
}

.btn-primary {
  background-color: var(--primary) !important;
  border-color    : var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--primary-hover) !important;
  border-color    : var(--primary-hover) !important;
}